body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #CCC;
	font-size: .6em;
}

ul {
	list-style: none;
}

.octocat {
	margin: 10px;
}

.octodex li {
	display: inline-block;
}

.octocat img {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;

}


.image-caption a:link, .image-caption a:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.image-caption span {
	font-weight: bold;
	color: #86888A;
}

.image-number:before{
	content: "#";
}

.image-footer {
	border-bottom: 1px solid #ccc;
	display: block;
}

.authors img {
	width:16px;
	height:16px;
}







